
<table class="table">
    <thead>
      <th>
        <div class="btn-group dropdown">
          <button class="btn table-header dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
            Status
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Show All</a>
            <a class="dropdown-item">Success</a>
            <a class="dropdown-item">Failure</a>
            <a class="dropdown-item">Pending</a>
            <a class="dropdown-item">Suspended</a>
          </div>
        </div>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(1)">
          Version
        </button>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(2)">
          Creation
        </button>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(3)">
          Last Modified
        </button>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(4)">
          Last Active Task
        </button>
      </th>
      <th>
        <div class="btn-group dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
            Tags
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" onclick="tagFilter(0)">Show All</a>
            <a class="dropdown-item" onclick="tagFilter(1)">Auto</a>
            <a class="dropdown-item" onclick="tagFilter(2)">Daily</a>
            <a class="dropdown-item" onclick="tagFilter(3)">Weekly</a>
            <a class="dropdown-item" onclick="tagFilter(4)">Monthly</a>
          </div>
        </div>
      </th>
    </thead>

    <tbody id="dashboard">
        <tr ng-repeat="release in releases">
          <td>
            <img ng-if="release.status == 1" src="/images/check.png">
            <img ng-if="release.status == 2" src="/images/error.png">
            <img ng-if="release.status == 3" src="/images/pending.png">
            <img ng-if="release.status == 4" src="/images/suspended.png">
          </td>
          <td>
            {{release.version}}
          </td>
          <td>
            {{release.creation}}
          </td>
          <td>
            {{release.last_mod}}
          </td>
          <td>
            {{release.last_active}}
          </td>
          <td>
            <button ng-repeat="tag in release.tags "type="button" class="btn btn-secondary btn-sm {{tag}}">
              <p ng-if="tag == 1">
                auto
              </p>
              <p ng-if="tag == 2">
                daily
              </p>
              <p ng-if="tag == 3">
                weekly
              </p>
              <p ng-if="tag == 4">
                monthly
              </p>
            </button>
          </td>
        </tr>
    </tbody>

</table>
