<div class="active-cyan-3 active-cyan-4 mb-4 row">
  <div class="col-sm">
    <input id="search-box" class="form-control" type="text" ng-model="searchTable" placeholder="Search to filter">
  </div>
</div>
<table class="table">
    <thead>
      <th>
        <div ng-controller="StatusController">
          <select class="form-control dropdown" ng-model:"statusValue" ng-change:"statusChange">
            <option value="0">All</option>
            <option value="1">Finished</option>
            <option value="2">Failed</option>
            <option value="3">Pending</option>
            <option value="4">Suspended</option>
          </select>
        </div>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(1)">
          Version
        </button>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(2)">
          Creation
        </button>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(3)">
          Last Modified
        </button>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(4)">
          Last Active Task
        </button>
      </th>
      <th>
        <div>
          <select class="form-control dropdown">
            <option ng-repeat="(version, release) in releases" value="{{}}">

            </option>
          </select>
        </div>
      </th>
    </thead>

    <tbody id="dashboard">
        <tr ng-repeat="(version, release) in releases">
          <td>
            <img ng-if="release.state == 2" src="/style/images/check.png">
            <img ng-if="release.state == 3" src="/style/images/error.png">
            <img ng-if="release.state == 1" src="/style/images/pending.png">
            <img ng-if="release.state == 4" src="/style/images/suspended.png">
          </td>
          <td>
            {{version}}
          </td>
          <td>
            {{release.started | date:'medium'}}
          </td>
          <td>
            {{release.last_modified | date:'medium'}}
          </td>
          <td>
            {{release.last_active_task}}
          </td>
          <td>
            <button ng-repeat="tag in release.labels "type="button" class="btn btn-secondary btn-sm {{tag}}">
              {{tag}}
            </button>
          </td>
        </tr>
    </tbody>

</table>
