<div class="active-cyan-3 active-cyan-4 mb-4 row">
  <div class="col-sm">
    <input id="search-box" class="form-control" type="text" ng-model="searchTable" placeholder="Search to filter">
  </div>
</div>
<table class="table">
    <thead>
      <th>
        <div ng-controller="StatusController">
          <select class="form-control dropdown" ng-model:"statusValue" ng-change:"statusChange">
            <option value="0">Status</option>
            <option value="1">Finished</option>
            <option value="2">Failed</option>
            <option value="3">Pending</option>
            <option value="4">Suspended</option>
          </select>
        </div>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(1)">
          Version
        </button>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(2)">
          Creation
        </button>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(3)">
          Last Modified
        </button>
      </th>
      <th>
        <button class="btn table-header" type="button" onclick="sortTable(4)">
          Last Active Task
        </button>
      </th>
      <th>
        <div>
          <select class="form-control dropdown" name="section_type_list">
            <option value="">Labels</option>
            <option value="">Auto</option>
            <option value="">Daily</option>
            <option value="">Weekly</option>
            <option value="">Monthly</option>
          </select>
        </div>
      </th>
    </thead>

    <tbody id="dashboard">
        <tr ng-repeat="release in releases | filter: searchTable | statusFilter:statusValue">
          <td>
            <img ng-if="release.status == 1" src="/style/images/check.png">
            <img ng-if="release.status == 2" src="/style/images/error.png">
            <img ng-if="release.status == 3" src="/style/images/pending.png">
            <img ng-if="release.status == 4" src="/style/images/suspended.png">
          </td>
          <td>
            {{release.version}}
          </td>
          <td>
            {{release.creation}}
          </td>
          <td>
            {{release.last_mod}}
          </td>
          <td>
            {{release.last_active}}
          </td>
          <td>
            <button ng-repeat="tag in release.tags "type="button" class="btn btn-secondary btn-sm {{tag}}">
              <p ng-if="tag == 1">
                auto
              </p>
              <p ng-if="tag == 2">
                daily
              </p>
              <p ng-if="tag == 3">
                weekly
              </p>
              <p ng-if="tag == 4">
                monthly
              </p>
            </button>
          </td>
        </tr>
    </tbody>

</table>
