
<nav id="top-bar" class="navbar sticky-top">
  <a id="top-bar-content" href="" ng-click="redirect()">
    <img src="/app/assets/images/logo.png" style="width:20%;">
    <span>Istio Releases</span>
  </a>
  <div class="logout">
    <span class="greeting">Welcome, {{user}} </span>
    <button type="button" class="btn btn-outline-light" ng-click="logout()">
      Log Out
    </button>
  </div>
  <button ng-if="auth" ng-click="createRelease()" type="button"
    class="btn btn-lg btn-danger make-release">
      Create Release
  </button>
</nav>

<div class="row info">
    <h1> {{ release.name }} </h1>
  <div id ="release-image">
    <img ng-if="release.state == 2" src="/app/assets/images/check.png">
    <img ng-if="release.state == 3" src="/app/assets/images/error.png">
    <img ng-if="release.state == 1" src="/app/assets/images/pending.png">
    <img ng-if="release.state == 4" src="/app/assets/images/suspended.png">
  </div>
</div>

<div class="row info">
  <button type="button" class="not-clickable btn btn-secondary tag">
    {{release.branch}}
  </button>
  <button type="button" class="not-clickable btn btn-secondary tag">
    {{release.release_type}}
  </button>
</div>

<div class="row info dates">
  <p>Created on: {{release.started * 1000 | date:'medium'}}</p>
</div>
<div class="row info dates">
  <p>Last Modified: {{release.last_modified * 1000 | date:'medium'}}</p>
</div>

<table id="links" class="table table-bordered">
  <th>
    Links:
  </th>
  <td ng-repeat="link in release.links">
    <a href="{{link.url}}" target="_blank">{{link.name}}</a>
  </td>
</table>

<div id="detail-table">
  <table class="table">
    <thead class="thead-light">
      <th>Status</th>
      <th>Task</th>
      <th>Start Time</th>
      <th>Last Modified</th>
      <th>Dependencies</th>
      <th>Error</th>
      <th>View Logs</th>
    </thead>
    <tbody>
        <tr ng-repeat="task in tasks | orderBy:'-started'">
          <td>
            <img ng-if="task.status == 2" title="Finished"
              src="/app/assets/images/check.png">
            <img ng-if="task.status == 3" title="Failed"
              src="/app/assets/images/error.png">
            <img ng-if="task.status == 1" title="Pending"
              src="/app/assets/images/pending.png">
            <img ng-if="task.status == 4" title="Abandoned"
              src="/app/assets/images/suspended.png">
          </td>
          <td>
            {{ task.task_name }}
          </td>
          <td>
            {{task.started * 1000 | date:"MM/dd/yyyy 'at' h:mma"}}
          </td>
          <td>
            {{task.last_modified * 1000 | date:"MM/dd/yyyy 'at' h:mma"}}
          </td>
          <td>
            <button ng-if="task.dependent_on.length == 0" type="button"
              class="not-clickable btn btn-sm">
                N/A
            </button>
            <button ng-if="task.dependent_on.length != 0"
              ng-repeat="tag in task.dependent_on" type="button"
              class="not-clickable btn btn-sm">
                {{tag}}
            </button>
          </td>
          <td>
            {{ task.error }}
          </td>
          <td>
            <a href="{{task.log_url}}" target="_blank"> logs </a>
          </td>
        </tr>
    </tbody>
  </table>
</div>
