<div class="w3-animate-opacity w3-text-white welcome">
  <div class="w3-display-middle">
    <div class="animation w3-jumbo w3-animate-left">
      <img src="/app/assets/images/logo.png" style="width:30%;">
    </div>
    <div class="animation w3-jumbo w3-animate-right">
      <h1 class="w3-jumbo">Istio Release Dashboard</h1>
    </div>
    <hr class="w3-border-white" style="margin:auto;width:50%">
    <div class="w3-center">
      <button type="button" class="btn btn-lg btn-outline-light login" ng-click="login()">
        {{message}}
      </button>
    </div>
  </div>
</div>
