<!DOCTYPE html>

<html lang="en" ng-app="ReleaseUI">

    <head>

        <title>ISTIO Releases</title>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Style Sheets, primarily using Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="/app/assets/styles.css"/>

        <!-- Angular Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>

        <!-- JQuery Script -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Internal Scripts -->
        <script src="/app/scripts/services.js"></script>
        <script src="/app/scripts/controllers.js"></script>
        <script src="/app/scripts/filters.js"></script>
        <script src="/app/scripts/app.js"></script>

        <!-- Angular Material -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

        <!-- Sources for the logo in the header -->
        <link rel="apple-touch-icon" sizes="180x180" href="/a/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/app/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/app/assets/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/app/assets/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="/app/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">

    </head>

    <body>
      <main id="main">
          <div ng-view></div>
      </main>
    </body>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAWINLW6jtdkoFqnFUntaCUIkCArtC30eo",
        authDomain: "istio-release-ui.firebaseapp.com",
        databaseURL: "https://istio-release-ui.firebaseio.com",
        projectId: "istio-release-ui",
        storageBucket: "istio-release-ui.appspot.com",
        messagingSenderId: "911504051161"
      };
      firebase.initializeApp(config);
    </script>

</html>
