{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <div class="active-cyan-3 active-cyan-4 mb-4">
        <input id="search-box" class="form-control" onkeypress="searchBar()" type="text" placeholder="Search to filter">
    </div>
    <table class="table table-striped">
        <thead>
            <th>Status</th>
            <th>Version</th>
            <th>Creation</th>
            <th>Last Modified</th>
            <th>Last Active Task</th>
            <th>
              <div class="btn-group dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true">
                  Tags
                </button>
                <div class="dropdown-menu">
                  <li class="dropdown-item" onclick="tagFilter(0)">Show All</li>
                  <a class="dropdown-item" onclick="tagFilter(1)">Auto</a>
                  <a class="dropdown-item" onclick="tagFilter(2)">Daily</a>
                  <a class="dropdown-item" onclick="tagFilter(3)">Weekly</a>
                  <a class="dropdown-item" onclick="tagFilter(4)">Monthly</a>
                </div>
              </div>
            </th>
        </thead>
        <tbody id="dashboard-list">
            {% for release in releases %}
            <tr class='clickable-row' href='/details.html'>
              <td>
                {% if release["status"] %}
                <img class="img-responsive" src="/static/images/check.png">
                {% else %}
                <img class="img-responsive" src="/static/images/error.png">
                {% endif %}
              </td>
              <td>
                {{release["version"]}}
              </td>
              <td>
                {{release["creation"]}}
              </td>
              <td>
                {{release["last_mod"]}}
              </td>
              <td>
                {{release["last_active"]}}
              </td>
              <td>
                {% for tag in release["tags"]%}
                <button type="button" class="btn btn-secondary btn-sm {{tag}}">
                  {% if tag == 1%}
                    auto
                  {% elif tag == 2%}
                    daily
                  {% elif tag == 3%}
                    weekly
                  {% elif tag == 4 %}
                    monthly
                  {% endif %}
                </button>
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>


{% endblock %}
