<!DOCTYPE html>

<html lang="en" ng-app="ReleaseUI">

    <head>

        <title>ISTIO Releases</title>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Style Sheets, primarily using Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/app/assets/styles.css"/>

        <!-- Angular Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>

        <!-- Internal Scripts -->
        <script src="/app/scripts/app.js"></script>
        <script src="/app/scripts/controllers.js"></script>
        <script src="/app/scripts/filters.js"></script>
        <script src="/app/scripts/services.js"></script>

        <!-- Angular Material -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

        <!-- Sources for the logo in the header -->
        <link rel="apple-touch-icon" sizes="180x180" href="/a/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/app/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/app/assets/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/app/assets/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="/app/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
        <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    </head>

    <body>

        <nav id="top-bar" class="navbar sticky-top navbar-light">
          <div class="navbar-header">
            <a id="top-bar-content" class="navbar-brand" href="/">
              <img src="/app/assets/images/logo.png" style="width:20%;">
              <span>ISTIO Releases</span>
            </a>
          </div>
        </nav>

        <pre class="status" ng-bind="status"></pre>
        <main class="container p-5">
            <div ng-view></div>
        </main>
    </body>

</html>
