/* -------------------------- */
/* index.html styling */

#main {
  width: 100%;
  text-align: center;
}

html {
  height: 100%;
  font-size: 0.9rem;
  min-width: 883px;
}


/* -------------------------- */
/* Shared styling */

#top-bar {
  padding: 20px;
  background-color: #2C6AC4;
}

#top-bar-content {
  padding-left: 50px;
  font-size: xx-large;
  color: white;
}

h1 {
  font-family: Verdana,sans-serif;
}

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: auto !important;
}

.logout {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}

.make-release {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 40px;
  margin-right: 60px;
}

.waiting {
  cursor: wait;
}

.greeting {
  color: white;
}


/* -------------------------- */
/* login.html styling */

.welcome {
  background-color: #2C6AC4;
  width:100%;
  height: 100%;
  position: absolute;
}

.animation {
   animation-duration: 0.5s;
}

.login {
  margin-top: 10px;
}

md-progress-circular path {
  stroke: white;
}

#authorizing {
  position: relative;
  top: -105px;
}

#icon {
  margin-top: -5px;
  margin-left: 10px;
}


/* -------------------------- */
/* main.html styling */

#filters {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 900px;
  padding: 15px;
  outline: 2px solid #f4f4f4;
}

.table-header {
  background-color: #2C6AC4;
  color: white;
}

.form-control {
  font-weight: normal;
}

.reset {
  margin-top: 8px;
  height: 75%;
}

.greyed {
  color: #858585;
}

.caret {
  color: white;
}

#task-summary {
  align-items: center;
  color: #ffffff;
  display: flex;
  height: 20px;
  font-weight: bold;
  text-align: center;
  width:100%;
}

#success-summary {
  background-color: #0F9D58;
}

#failed-summary {
  background-color: #E51C23;
}

#pending-summary {
  background-color: #B2B2B2;
}

#running-summary {
  background-color: #236BB8;
}


#footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}


/* -------------------------- */
/* details.html styling */

#release-image {
  margin: 18px;
}

.info {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 45px;
}

.tag {
  margin-right: 10px;
}

.dates {
  color: #858585;
  font-style: italic;
}

#links {
  float: left;
  width: 50%;
  margin-left: 35px;
}

#detail-table {
  width:90%;
  margin-top: 20px;
  margin-left: 35px;
}

#external-links {
  width: 90%;
}

#download {
  float: right;
}

#repos {
  float: left;
  width: 50%;
  margin-left: 35px;
}

.link {
  color: #007bff;
}

/* -------------------------- */
/* create-release.html styling */

#centered-form {
  margin: 60px;
}

#add-attribute {
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.attribute {
  display: inline;
  width: 90%;
  float: right;
}

.remove-img {
  margin-top: 5px;
  margin-right: 5px;
}

/* -------------------------- */
/* logs.html styling */

#log_page {
  font-family: "Courier New";
}
