/* -------------------------- */
/* index.html styling */
#top-bar
{
    padding: 20px;
    background-color: #2C6AC4;
    width:100%;
}

.header
{
    width: 100%;
}

#top-bar-content
{
    margin-left:0%;
    padding:.5%;
    padding-left: 50px;
    font-size: xx-large;
    color: white;
    display: inline-block;
    float: left;
}

.login
{
    float: right;
    display: inline-block;
    margin-top: 40px;
    margin-right: 30px;
}

#main
{
    width: 100%;
    text-align: center;
}

html
{
    height: 100%;
    background-color: white;
    font-size: 0.9rem;
}


/* -------------------------- */
/* main.html styling */

#filters
{
    float:left;
    margin: 20px;
    width: 90%;
    margin-top: 40px;
}

.table-header
{
    background-color: #2C6AC4;
    color: white;
}

.btn
{
    margin-left: 1px;
}

.btn-danger
{
    margin-left: 15px;
    margin-top: 8px;
    height: 75%;
}

.greyed
{
    color: #858585;
}

.caret
{
    color: white;
}

#footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}


/* -------------------------- */
/* details.html styling */

#detail_release_title
{
    margin-top: 20px;
    font-size: xx-large;
}

#release-image
{
    margin-top: 28px;
    margin-left: 20px;
}

.info
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45px;
}

#links
{
    float: left;
    width: 50%;
    margin-left: 35px;
}

#detail-table
{
    width:90%;
    margin-top: 20px;
    margin-left: 35px;
}
